header {
    margin: 0;
}

.cabecalho {
    height: 200px;
    background-color: rgb(214, 213, 213);
    text-align: center;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 76px;

}

section {
    background-color: red;
    margin: 0;
    padding: 10px;
   
    
    
}

.div-1, .div-2 {
    background-color: green;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 10px 20px 10px;


}

footer {
    text-align: center;
    height: 100px;
    background-color: rgb(214, 213, 213);
    margin: 0;
    padding: 10px;
}

h3 {
    padding: 20px;
}

p{
    text-align: left;
    padding-left: 20px;
}

